<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend || NewStyle</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mainHome.css">
</head>

<body>
    <div class="navbar">
        <a href=""><i class="fa-regular fa-handshake"></i></a>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">offices</a>
        <a href="/SJhsjdh7e3r46ishdJHDjdh3493">Register</a>
        <a href="/jfs845ahdsklLKJSHD364qjashdDZBNMbuywe9837498ljHNZDB">Login</a>
        <a href=""><ion-icon name="search-outline"></ion-icon></i></a>
        <a href=""><ion-icon name="bag-handle-outline"></ion-icon></a>
    </div>
    <div class="mainPlaceHolder">
        <h1 data-aos="fade-right">The Shopping World!</h1>
        <p class="lead" data-aos="fade-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ducimus, quod earum dicta quis sequi voluptas velit aliquam tempore nihil?
        </p>
        <img src="https://png.pngitem.com/pimgs/s/509-5092096_offering-high-quality-mobile-repair-service-main-image.png"
            alt="" data-aos="fade-up">
        <p>Create an account to get maximum offers on order.</p>
        <div class="controllers">
            <a href="" class="ourActionbutton">Explore More</a>
            <a href="" class="ourActionbutton outline-actionbtn">What is it about</a>
        </div>
    </div>
    <div class="servicesOffers">
        <h2 data-aos="fade-left">Services we offer</h2>
        <hr data-aos="fade-down">
        <div class="cardHolder">
            <a href="/C88YoXVNdr7Q9fCrzN2E5CPp9tGW1ResXyu">
                <div class="card" data-aos="fade-right">
                    <img src="https://www.freeiconspng.com/thumbs/iphone-x-pictures/iphone-x-factory--8.png" alt="loading...">
                    <p>iphones</p>
                </div>
            </a>
            <a href="/cRNEnyzuZWPJVpPKsT1IrV1uwYRfmBWl5mc">
                <div class="card" data-aos="fade-right">
                    <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m536bzbfinu/gallery/in-galaxy-m53-5g-sm-m536-421705-sm-m536bzbfinu-532181615?$650_519_PNG$" alt="loading...">
                    <p>Samsung</p>
                </div>
            </a>
            <a href="/fm34tVxvcSprEi8AWVHIoufbHJFNjPOtVTy">
                <div class="card" data-aos="fade-right">
                    <img src="https://i01.appmifile.com/webfile/globalimg/in/cms/D1301D76-E04D-EF09-6195-53229DE6D543.jpg" alt="loading...">
                    <p>MI Phone</p>
                </div>
            </a>
            <a href="/migMwIzOgGRN6fD40RhzazAYtpRu1GhrmT2">
                <div class="card" data-aos="fade-right">
                    <img src="https://i.gadgets360cdn.com/products/large/1539767887_635_vivo_z3.png" alt="loading...">
                    <p>Vivo Phone</p>
                </div>
            </a>
            <a href="/iW7PB383uBdJQS8Ajad0qu1XTuuU9aFtXlt">
                <div class="card" data-aos="fade-right">
                    <img src="https://oasis.opstatics.com/content/dam/oasis/page/2022/operation/mar/0317/EU-IN_Black.png" alt="loading...">
                    <p>OnePlus</p>
                </div>
            </a>
            <a href="/awXQtqu7haLRha6uGWjb4y7Ixephmgc3lkV">
                <div class="card" data-aos="fade-right">
                    <img src="https://www.pngall.com/wp-content/uploads/4/Realme-PNG.png" alt="loading...">
                    <p>Realme</p>
                </div>
            </a>
        </div>
    </div>

    <div id="salesStrip">
        <h2 class="trendings-heading" data-aos="fade-up">Our trendings</h2>
        <div class="cardStrip">
            <!-- <a href="">
                <div class="bindAsCard" data-aos="fade-right">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2021/2/QB/JM/VX/47185783/mk-switches-500x500.jpg"
                        alt="loading...">
                    <p class="mainHeadings">Switch and Socket installation</p>
                    <div class="majorContents">
                        <p>Starts at: ₹259 <strike>₹350</strike> || 26% off</p>
                    </div>
                </div>  
            </a> -->
            <a href="/cRNEnyzuZWPJVpPKsT1IrV1uwYRfmBWl5mc">
                <div class="bindAsCard" data-aos="fade-down">
                    <img src="https://img.freepik.com/premium-photo/man-washing-his-grey-car-high-pressure-water-outdoors-back-view_2221-5184.jpg?w=2000"
                        alt="loading...">
                    <p class="mainHeadings">Complete Car Wash</p>
                    <div class="majorContents">
                        <p>Starts at: ₹1,199 <strike>₹1799</strike></p>
                        <p class="savingAmount">Flat 33% off</p>
                    </div>
                </div>
            </a>
            <a href="/migMwIzOgGRN6fD40RhzazAYtpRu1GhrmT2">
                <div class="bindAsCard" data-aos="fade-up">
                    <img src="https://media.istockphoto.com/id/1212518133/photo/the-guy-is-a-dark-haired-asian-indian-appearance-on-a-haircut-in-a-barbershop-cinematic-image.jpg?s=612x612&w=0&k=20&c=QdDOGweRZj_tf0M0F-8vH-aD_ygkGvoKnpLBO5fkjIg="
                        alt="loading...">
                    <p class="mainHeadings">Haircut for men</p>
                    <div class="majorContents">
                        <p>Starts at: ₹200 <strike>₹300</strike></p>
                        <p class="savingAmount">Flat 33% off</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="bindAsCard" data-aos="fade-up">
                    <img src="https://media.istockphoto.com/id/1300836775/photo/young-indian-woman-in-gloves-clean-kitchen-counter.jpg?s=612x612&w=0&k=20&c=qwGZhXVEFJVCU9wJ044tUSdbrCiLuThGhO1_SrFkYlo="
                        alt="loading...">
                    <p class="mainHeadings">Complete Kitchen Cleaning</p>
                    <div class="majorContents">
                        <p>Starts at: ₹1,299 <strike>₹1500</strike></p>
                        <p class="savingAmount">Flat 13% off</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="bindAsCard" data-aos="fade-down">
                    <img src="https://d2vj71og9gdu4k.cloudfront.net/WEB/service/Tap,_Wash_Basin_And_Sink02.jpg"
                        alt="loading...">
                    <p class="mainHeadings">Wash Basin Installation</p>
                    <div class="majorContents">
                        <p>Starts at: ₹499 <strike>₹800</strike></p>
                        <p class="savingAmount">Flat 37% off</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
        <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 text-body-secondary text-decoration-none" href="/"
                        aria-label="Bootstrap">
                        <span class="fs-5">Shramyogi</span>
                    </a>
                    <hr>
                    <ul class="list-unstyled small">
                        <li class="mb-2">Direct Client to Employee brand. Focus on professional services at your doorsteps. More than 40+ services. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, obcaecati.</li>
                        <li class="mb-2">Company is licensed by Indian Government.</li>
                        <li class="mb-2">Get our app from playStore for Android and iOS</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                    <h5>Links</h5>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/">Home</a></li>
                        <li class="mb-2"><a href="/">About</a></li>
                        <li class="mb-2"><a href="/">Services</a></li>
                        <li class="mb-2"><a href="/">Famous Services</a></li>
                        <li class="mb-2"><a href="/">Contact Us</a></li>
                        <li class="mb-2"><a href="/">LogIn</a></li>
                        <li class="mb-2"><a href="/">Join Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Guides</h5>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/docs/5.3/getting-started/">Getting started</a></li>
                        <li class="mb-2"><a href="/docs/5.3/examples/starter-template/">Starter template</a></li>
                        <li class="mb-2"><a href="/docs/5.3/getting-started/webpack/">Webpack</a></li>
                        <li class="mb-2"><a href="/docs/5.3/getting-started/parcel/">Parcel</a></li>
                        <li class="mb-2"><a href="/docs/5.3/getting-started/vite/">Vite</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Projects</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap">Bootstrap 5</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev">Bootstrap 4</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/icons">Icons</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/rfs">RFS</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap-npm-starter">npm starter</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Community</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
                        <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions">Discussions</a></li>
                        <li class="mb-2"><a href="https://github.com/sponsors/twbs">Corporate sponsors</a></li>
                        <li class="mb-2"><a href="https://opencollective.com/bootstrap">Open Collective</a></li>
                        <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5">Stack Overflow</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="logic.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>